# Prerequisites
*.d

# Visual Studio
.vs/
x64/
HomebrewGraphicsEngine/x64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.ilk
*.idb
*.pdb
*.idb
*.tlog
*.ipch
*.opendb
*.vsidx
*.lock
.vs/HomebrewGraphicsEngine/v17/.suo
*.db
*.db-shm
*.db-wal
*.bin
*.tlog
*.pdb
*.idb
