# Prerequisites
*.d

# Visual Studio
.vs/
x64/
HomebrewGraphicsEngine/x64/
*.1.tlog

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.ilk
*.idb
*.pdb
*.tlog
*.ipch
*.opendb
*.vsidx
*.lock
.vs/HomebrewGraphicsEngine/v17/.suo
*.db
*.db-shm
*.db-wal
*.bin
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/CL.command.1.tlog
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/CL.read.1.tlog
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/CL.write.1.tlog
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/link.command.1.tlog
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/link.read.1.tlog
HomebrewGraphicsEngine/x64/Release/Homebrew.0f5bc1b2.tlog/link.write.1.tlog
HomebrewGraphicsEngine/x64/Release/HomebrewGraphicsEngine.ipdb
HomebrewGraphicsEngine/x64/Release/vc143.pdb
HomebrewGraphicsEngine/HomebrewGraphicsEngine.vcxproj
HomebrewGraphicsEngine/HomebrewGraphicsEngine.vcxproj
HomebrewGraphicsEngine/HomebrewGraphicsEngine.vcxproj.filters
*.tlog
*.iobj
*.log
*.pdb
*.tlog